//variables
:root {
///////////////////////////////////
  --color-orange-dark: #8A2C02;
  --color-brown-medium: #572E1C;
  --color-brown-dark: #3E1401;
  --color-brown-light: #8A492C;
  --color-orange: #D74503;

  --color-light-1: #E7903C;
  --color-light-2: #FF6347;
  --color-light-3: #E76E3C;
  --color-light-4: #F64747;
  --color-light-5: #EF4836;

  --color-grey-light: #D3D3D3;
  --color-grey-dark: #ABB7B7;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  background-image: linear-gradient(to right bottom, var(--color-brown-medium), var(--color-brown-light));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);  
}


.container {
  max-width: 120rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 20rem 1fr;
  grid-template-areas: "nav nav nav" "main-div main side";

  @media only screen and (max-width: 68.75em) {
    .container {
      width: 100%;
      margin: 0;
      border-radius: 0; 
    } 
  }
}

.main {
  background-color: red;
  grid-area: main;
}

.side {
  background-color: #fff;
  grid-area: side;
}

.nav {
  background-image: url(../images/wood.jpg);
  background-size: cover;
  //height: 30vh;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  grid-area: nav;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  // input search

  form {
    background-color: #fff;
    border-radius: 10rem;
    padding-left: 3rem;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.08); }
    .input-book {
      border: none;
      background: none;
      font-family: inherit;
      color: inherit;
      font-size: 1.7rem;
      width: 30rem;       
      &:focus {
        outline: none;
      }
      &::-webkit-input-placeholder {
        color: var(--color-brown-dark);
      }
    }
  }

  .btn {
    &,
    &:link,
    &:visited {
        padding: 1.3rem 3rem;
        font-size: 1.4rem;
        background-color: var(--color-orange);
        color: var(--color-brown-dark);
        border-radius: 10rem;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        cursor: pointer;
        display: flex;
        align-items: center;
        transition: all .2s;
    }      
    //&:active,
    //&:focus {
        //outline: none;
        //transform: translateY(-1px);
    //}
  }
}


//////////////////////////////////////////
.main-div {
  display: flex;
  flex-wrap: wrap;
  grid-area: main-div;
}

.books-div {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  
}